<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <!-- <% if (true){%>
    <div>ejs working</div>
    <% } else { %>
    <div>ejs not working</div>
    <% } %> -->
    <% include ./layout/navbar.ejs %> <%= data %>
  </body>
</html>
